
/*.node {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(45, 173, 247, 0.8);
    float: left;
    width: 1.67%;
    height: 30px;
    text-align: center;
    font-size: small;
}*/

.node {
  float: left;
  background-color: #1E90FF;
  margin: 0.1% 0.1%;
  width: 2.3%;
  height: 3.133%;
  font-size: small;
  text-align: center;
  border-radius: 5%;
}

.node-finish {
  /*background-color: red;*/
  /*background: url("../../symbols/dest.jpg") no-repeat;*/
  background-size: 100%;
  background-position: center center;
}

.node-start {
  /*background-color: green;*/
  /*background: url("../../symbols/arrow.png") no-repeat;*/
  background-size: contain;
  background-position: center center;
}

.node-current {
  background-color: rgb(255, 251, 0);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.node-wall {
  background-color: rgb(16, 15, 15);
}


.node-animated-wall {
    animation-name: wallAnimation;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(16, 15, 15);
    border-radius: 30%;
  }

  50% {
    transform: scale(0.8);
    background-color: rgb(16, 15, 15);
    border-radius: 20%;
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(16, 15, 15);
    border-radius: 10%;
  }

  100% {
    transform: scale(1);
    background-color: rgb(16, 15, 15);
  }
}